<ion-header>
  <ion-toolbar>
    <ion-title>topic</ion-title>
    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'materials', item.topic_id]">
       
      <ion-label text-wrap>
        <h3>{{ item.title }}</h3>
      </ion-label>
     </ion-item>
 
  </ion-list>
</ion-content>
