<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div [routerLink]="['/topic']" class="mycol">Topics</div>
      </ion-col>
      <ion-col>
        <div class="mycol">Videos</div>
      </ion-col>
      <ion-col>
        <div class="mycol twospan">
          <span class="span1">
          Study
        </span>
        <span class="span2">
          Materials
        </span>
      </div>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="mycol twospan">
          <span class="span1">
          Question
        </span>
        <span class="span2">
          Answers
        </span>
      </div>
      </ion-col>
      <ion-col>
        <div [routerLink]="['/subjects']" class="mycol">Test</div>
      </ion-col>
      <ion-col>
        <div class="mycol">Quiz</div>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
